<html>
    <head>
        <title>
            <%= title %>
        </title>
        
        
        
    </head>
    <body>
        <!-- <%-include('_header'); %> -->
        <h1>
            Codeial / <%= title %>
        </h1>
        <section id="feed-posts">
            <h4>Posts</h4>
            <form action="/posts/create" id="new-post-form" method="POST">
                <!-- will take one field content -->
                <textarea name="content" cols="30" rows="3" placeholder="type here.."></textarea>
                <input type="submit" value="Post">
            </form>
            
            <!-- after this add a controller to get data from views and add it to db schema. and then have a route to map the post action -->

            <div id="posts-list-container">
                <ul>
                    <% for (post of posts){ %>
                    
                        <li>
                            <p>
                                <%= post.content %>
                                <br>
                                <small>
                                    <%= post.user %>
                                </small>
                            </p>
                        </li>

                    <% } %>
                </ul>
            </div>

        </section>
    </body>
</html>